@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Ensure the Next.js root can stretch full height */
body > div:first-child {
  min-height: 100vh;
}

